
@{
    ViewData["Title"] = "faturaListele";
    Layout = "~/Views/Account/_Layout.cshtml";
}

<h1>faturaListele</h1>
<h3>
    @ViewBag.id <br />
    @ViewBag.aboneNo<br />
    @ViewBag.adsoyad<br />
    @ViewBag.tutar
</h3>

